Source: dbus-c++
Section: libs
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends:
 debhelper-compat (= 13),
 doxygen <!nodoc>,
 graphviz <!nodoc>,
 libdbus-1-dev (>= 0.60),
 libefl-all-dev,
 libexpat1-dev,
 libglib2.0-dev,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://sourceforge.net/projects/dbus-cplusplus/
Vcs-Git: https://salsa.debian.org/debian/dbus-cplusplus.git
Vcs-Browser: https://salsa.debian.org/debian/dbus-cplusplus

Package: libdbus-c++-1-0v5
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 libdbus-c++-1-0,
Replaces:
 libdbus-c++-1-0,
Description: C++ API for D-Bus (runtime libraries)
 DBus-c++ attempts to provide a C++ API for D-Bus. The library has a GLib/GTK
 and an Ecore main loop integration. It also offers an optional own main loop.
 .
 This package includes shared object files.

Package: libdbus-c++-bin
Architecture: any
Multi-Arch: allowed
Section: utils
Depends:
 libdbus-c++-1-0v5 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Suggests:
 libdbus-c++-dev,
Breaks:
 libdbus-c++-dev (<< 0.9.0-5),
Replaces:
 libdbus-c++-dev (<< 0.9.0-5),
Description: C++ API for D-Bus (utilities)
 DBus-c++ attempts to provide a C++ API for D-Bus. The library has a GLib/GTK
 and an Ecore main loop integration. It also offers an optional own main loop.
 .
 This package includes binary utilities.

Package: libdbus-c++-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libdbus-c++-1-0v5 (= ${binary:Version}),
 libdbus-c++-bin:any (= ${binary:Version}),
 libdbus-1-dev (>= 0.60),
 ${misc:Depends},
Description: C++ API for D-Bus (development package)
 DBus-c++ attempts to provide a C++ API for D-Bus. The library has a GLib/GTK
 and an Ecore main loop integration. It also offers an optional own main loop.
 .
 This package includes static object and header files.

Package: libdbus-c++-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Suggests:
 libdbus-c++-dev,
Description: C++ API for D-Bus (documentation)
 DBus-c++ attempts to provide a C++ API for D-Bus. The library has a GLib/GTK
 and an Ecore main loop integration. It also offers an optional own main loop.
 .
 This package includes the documentation files.
